<!-- Slideshow container -->
<div class="slideshow-container" >
{% for slide in carousel %}
  <!-- Full-width images with number and caption text -->
  <div class="mySlides">
    <img src="/uploads/{{ slide.image }}" >
  </div>
  {% endfor %}
</div>

