@import "~bootstrap/scss/bootstrap";

h4 {
	color: #DC5E44;
	font-weight: bold;
}
h5 {
	color: #DC5E44;
	font-weight: bold;
}


img {
	border-radius: 20px;
    width: 100%;
}
body {
    background-color: #E4E6EC ;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem;
    
}
 
    